div{
    max-width: 1000px;
    margin: auto;
    background-image: url(images/banner.png);
}

header{
    padding: 1vw 5vw;
    background-color: #656565;
}

header a{
    color: #2B3F48;
}

h1, nav, li{
    display: inline-block;
}

h1{
    padding-right: 5vw;
}

nav{
    width: 78.3%;
}

li{
    margin-left: 20%;
}

a{
    text-decoration: none;
}